body {
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #00c6ff, #0072ff);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px; /* Adiciona um pouco de padding geral para telas pequenas */
}

.logo-container {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    width: 150px; /* Logo menor e mais centralizado */
    height: auto;
}

.slogan {
    font-size: 1.1em;
    color: #666;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px; /* Espaçamento abaixo do slogan */
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Ocupa mais largura em telas menores */
    max-width: 400px; /* Largura máxima para não ficar muito esticado em telas maiores */
}

.form-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-size: 1.5em;
}

.form-group {
    margin-bottom: 20px; /* Mais espaçamento entre os campos */
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: 1em;
}

.form-group input {
    width: calc(100% - 22px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
    text-align: center; /* Garante que o texto fique centralizado */
}

button:hover {
    background-color: #0056b3;
}

/* Media Queries para telas maiores (desktop) */
@media (min-width: 601px) {
    body {
        padding: 0; /* Remove o padding extra em desktop */
    }

    .form-container {
        width: 80%;
        max-width: 500px; /* Mantém a largura máxima para desktop */
    }

    .logo {
        width: 200px; /* Logo um pouco maior em desktop */
    }

    .slogan {
        font-size: 1.2em;
    }
}